<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="run_as_root_prometheus" frontName="prometheus">
            <module name="RunAsRoot_PrometheusExporter"/>
        </route>
    </router>
</config>
