<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="run_as_root" sortOrder="999" translate="label">
            <label>run_as_root</label>
        </tab>

        <section id="metric_configuration" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Prometheus Metric Configuration</label>
            <tab>run_as_root</tab>
            <resource>RunAsRoot_PrometheusExporter::config_runasroot_prometheusexporter</resource>

            <group id="metric" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Enable/Disable Metric</label>
                <comment>In case you only want to enable a specific set of data, this is where you can enable/disable the exposure of the different data groups to prometheus.</comment>

                <field id="metric_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="multiselect">
                    <label>Metric Status</label>
                    <source_model>RunAsRoot\PrometheusExporter\Model\SourceModel\Metrics</source_model>
                    <comment>enable or disable the exposure of specific metrics to prometheus.</comment>
                </field>
            </group>

            <group id="security" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Security Settings for the Prometheus Scrape Config</label>
                <comment>This section contains security related configurations. We recommend using the Bearer Token in your Prometheus Scrape Config.</comment>

                <field id="token" showInWebsite="1" showInStore="1" showInDefault="1" type="text">
                    <label>Token</label>
                    <frontend_model>RunAsRoot\PrometheusExporter\Block\Adminhtml\System\Config\DisabledText</frontend_model>
                </field>

                <field id="generate_auth_token" translate="button_label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Generate</button_label>
                    <comment>Click 'Generate' to generate a random auth token, that you can use for your scrape config.</comment>
                    <frontend_model>RunAsRoot\PrometheusExporter\Block\Adminhtml\System\Config\TokenGenerator</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>